spring-inject/src/main/resources/META-INF/personinject.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.ctrip.com/schema/personinject"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.ctrip.com/schema/personinject"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:element name="person">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                            The comma-separated list of namespace names to integrate with Spring property sources.
                            If not specified, then default to application namespace.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="age" type="xsd:string" use="optional">
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
